$color-primary: #2e7d32;
$color-background: #f5f5f5;
$font-DMsans: "DM Sans", sans-serif;
$font-SpaceGrotesk: "Space Grotesk", sans-serif;
$color-brand-light: #65a33d; // El verde claro de las letras y botones
$color-overlay: rgba(13, 43, 24, 0.85); // El verde oscuro transparente
