<IfModule mod_headers.c>
	Header set Strict-Transport-Security "max-age=31536000; includeSubDomains;
	preload" Header set X-Content-Type-Options "nosniff" Header set
	X-Frame-Options "DENY" Header set X-XSS-Protection "1; mode=block" Header set
	Referrer-Policy "strict-origin-when-cross-origin" Header set
	Permissions-Policy "camera=(), microphone=(), geolocation=(),
	interest-cohort=()" Header set Content-Security-Policy "default-src 'self';
	script-src 'self' 'unsafe-inline' 'unsafe-eval' https://*.wsimg.com
	https://*.secureserver.net; style-src 'self' 'unsafe-inline'
	https://fonts.googleapis.com; font-src 'self' https://fonts.gstatic.com data:;
	img-src 'self' data: https:; connect-src 'self' https://*.wsimg.com
	https://*.secureserver.net;"
</IfModule>
